.zero {
	background-color: white;
	border-style: solid;
	border-radius: 10px;	
	border-width: 2px;
	border-color: lightblue;
	width: 1580px;
	height: 1100px;
}
 a:link {color: #191970; text-decoration: none;}
 a:visited    {color: #696969; text-decoration: none;}
 a:hover    {color: blue; text-decoration: none;}
 a:active    {color: yellow; text-decoration: none;}

.bold, span {color: #00BFFF;}
.one {
	background-color: #191970; 
	width:  1540px; 
	height: 65px; 
	display: flex;	
	margin-top: 20px;
	margin-left: 20px;
}
.two {
	color: white;
	font-size: 20px;
	padding-left: 10px; 
	padding-bottom: 10px;

	font-weight: 900;
}
.three {
	padding-left: 1380px; 
	font-weight: 100; 
	font-size: 15px;
	padding-top: 10px;
}
.four {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%

}
.img0 {
	width: 100%;
	height: 400px;
	padding-left: 0px;
	padding-right: 0px;
}
.p1 {
	color: #191970;
	font-size: 18px;
	font: bold;
	text-align: center;
}
.p2 {
	color: #808080;
	font-size: 18px;
	text-align: center;
	padding-bottom: 20px;
}
.five {
	width: 400px;
	margin-top: 20px;
}
table {background-color: #D3D3D3;
	}
.td1 {
	border: 2px;
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

}
td {
	border: 2px;
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.six {
	width: 700px;
}
h3 {
	color: #191970;
	font-size: 25px;
}
.img1 {
	width: 100%;
	height: 250px;
}
.seven {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.p3 {
	font-size: 20px;
	color: #808080;
}
button {
	color: white;
	background-color: #191970;
	padding: 10px;
}
.td2 {
	border: 2px;
	background-color: white;
	padding-left: 10px;
	
}
.h3 {
	margin-bottom: 0px;
}





