.zero {
	background-color: white;
	border-style: solid;
	border-radius: 10px;	
	border-width: 2px;
	border-color: lightblue;
	width: 1100px;
	height: 700px;
}
 a:visited    {color: white;}
 a:hover    {color: blue;}
 a:active    {color: yellow;}

.bold, span {font-weight: bold;}
.one {
	background-color: #151c52; 
	width:  1060px; 
	height: 50px; 
	display: flex;	
	margin-top: 20px;
	margin-left: 20px;
}
.two {
	color: white;
	size: 10px;
	padding-left: 10px; 
	font-weight: 900;
}
.three {
	color: white; 
	padding-left: 790px; 
	font-weight: 100; 
	font-size: 10px;
	padding-top: 10px;
	display: flex;
}
.four {
	padding-right: 10px;
	color: white;
	text-decoration: none;
}
.five {
	margin-left: 40px;
	color: gray;
	font-size: 10px;
	margin-top: 20px;
	}
button {
	color: white;
	background-color: green;
	margin-top: 20px;
}
.six {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	width: 450px;
	color: darkblue;
}
img {
	width: 480px;
	height: 150px;
}
.seven {
	margin-top: 30px;
	margin-left: 10px;
}
table {
	background-color: #F5F5F5;
}
td {
	border: 1px;
	padding-left: 2px;
	padding-right: 2px;
}
td:nth-child(+2) {
	padding-right: 20px;
}
tr:nth-child(+1) {
	color: white;
	background-color: black;
}
tr:nth-child(+2) {
	color: white;
	background-color: darkgreen;
}
tr:nth-child(+3) {
	color: #696969;
	background-color: lawngreen;
}
tr:nth-child(+4) {
	color: #696969;
	background-color: lawngreen;
}
tr:nth-child(+5) {
	color: #696969;
	background-color: lawngreen;
}
tr:nth-child(+6) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+7) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+8) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+9) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+10) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+11) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+12) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+13) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+14) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+15) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+16) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+17) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+18) {
	color: #696969;
	background-color: lightgray;
}
tr:nth-child(+19) {
	color: #696969;
	background-color: #BC8F8F;
}
tr:nth-child(+20) {
	color: #696969;
	background-color: #BC8F8F;
}
tr:nth-child(+21) {
	color: #696969;
	background-color: #BC8F8F;
}





